<h1>Filiais</h1>

<h2>Fiat</h2>

<% @subsidiary.each do |subsidiar| %>
    <%= subsidiar.name %>
    <%= subsidiar.cnpj %>
    <%= subsidiar.address %>
    <% end %>

<p><%= link_to 'Almeidinha Cars' %></p> 
<p><%= link_to 'Almeidinha Trucks' %></p>

<p><%= link_to 'Voltar', root_path %></p>