<h1>Locação</h1>

<p><%= link_to 'Agendar locação', new_rental_path %></p>

  <%= form_with url: search_rentals_path, local: true, method: :get do %>
  <%= label_tag :q, 'Código' %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Buscar' %>
  <% end %>
  
  <%= render partial: 'rental', collection: @rentals %>
  <% if @rentals.present? %>
  <%= render @rentals %>
  <% end %>

  <p><%= link_to 'Voltar', root_path %></p>
  