<h1>Locação</h1>

<%= form_with url: search_rentals_path, local: true, method: :get do %>
<%= label_tag :q, 'Código' %>
<%= text_field_tag :q %>
<%= submit_tag 'Buscar' %>
<% end %>

<%= render partial: 'rental', collection: @rentals %>

<p><%= link_to 'Agendar locação', new_rental_path %></p>

<% @rentals.each do |rental| %>
<%= link_to 'Deletar locação', rental_path(rental), method: :delete %>
<% end %> 

<p><%= link_to 'Voltar', root_path %></p>
