<p>Modelo: <%= @car.car_model.name %></p>
<p>Placa: <%= @car.license_plate %></p>
<p>Quilometragem: <%= @car.mileage %></p>
<p>Cor: <%= @car.color %></p>
<p>Filial: <%= @car.subsidiary.name %></p>

<p><%= link_to 'Voltar', cars_path %></p>